body {
    color: rgb(255, 213, 149);
    background: rgb(68, 67, 58);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(187, 148, 89);
    padding: 20px;
    font-size: 32px;
    color: rgb(238, 201, 115);
}

.chamada {
    background: rgb(217, 183, 104);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(241, 212, 131);
}

.categoria h2 {
    color: rgb(228, 194, 42);
}